@charset "utf-8";
/* CSS Document */
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

/* header and navigation menu*/

.desktop-menu {
	display: flex;
	align-items: center;
    background-color:white;
	height: 3.56rem;
	color: black;
	width: 960px;
}

.heavy-title-font {
	color: black;
	font-weight: 700;
	font-size: 1.78rem;
}

.light-title-font {
	color: black;
	font-weight: 300;
	font-size: 1.78rem;
}

.nav-menu {
	color: black;
	padding-left: 20%;
}

.nav-menu a {
	margin-left: 16px;
}

.mobile-nav-menu {
	display: none;
}


/** start here section **/

.start-here-mobile {
	display: none;
}

.start-here-desktop {
	display: flex;
	width: 960px;
	background-color: lightgray;
	height: 24rem;
}

.left-column {
	display: flex;
}

.left-column img {
	height: 20rem;
	width: 30rem;
	margin-left: 1.5rem;
	margin-top: 2rem;
	
}

.right-column {
	margin-left: 1.78rem;
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
}

.right-column h1 {
	font-weight: 700;
	font-size: 2rem;
}

.right-column h2 {
	margin-top: 2rem;
}

.start-button {
	margin-top: 2rem;
	margin-left: 3rem;
	width: 10rem;
	height: 2rem;
	background-color: grey;
}

.start-button span {
	padding-top: 1rem;
	padding-left: 2.5rem;
	font-weight: 700;
}

/**overview section***/

.overview-mobile {
	display: none;
}

.overview-desktop {
	display: flex;
	width: 960px;
	background-color: white;
	height: 24rem;
}

.overview-desktop img {
	height: 20rem;
	width: 30rem;
	margin-left: 1.5rem;
	margin-top: 2rem;
	
}

.overview-l-column {
	display: flex;
	flex-direction: column;
}

.overview-l-column h1 {
	margin-top: .5rem;
	font-weight: 700;
	margin-left: 1.5rem;
}

.overview-l-column h2 {
	margin-top: .5rem;
	margin-left: 1.5rem;
}

.overview-l-column h3 {
	margin-left: 1.5rem;
	font-size: .75rem;
}


.orientation-box {
	display: flex;
}

.orientation-box img {
	width: 30%;
	height: 30%;
}

.orientation-boxcopy {
	margin-top: 2rem;
	margin-left: 1rem;
}

.orientation-boxcopy h1 {
	font-weight: 700;
}

.orientation-boxcopy h3 {
	margin-top: .5rem;
}

.orientation-boxcopy h4 {
	margin-top: 1rem;
	color: blue;
}

/*****learning section******/

.learning-mobile {
	display: none;
}

.learning-desktop {
	display: block;
	width: 960px;
	background-color: lightgray;
	margin-top: 4rem;
	padding-bottom: 3rem;
}

.learning-row {
	display: flex;
	margin-top: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	justify-content: space-between;
	
}

.learning-box {
	display: flex;
	flex-direction: column;
	background-color: white;
}

.learning-box img {
	width: 15rem;
	height: 10rem;
}

.learning-box h1 {
	font-weight:700;
}

.learning-box h3 h4 {
	font-weight: 300;
	font-size: 12px;
}

.learning-title {
	font-weight: 800;
	font-size: 1.5rem;
	margin-left: 40%;
	padding-top: 1rem;
}

/***thesis section***/

.thesis-mobile {
	display: none;
}

.thesis-desktop {
	display: flex;
	margin-top: 3rem;
	width: 960px;
	background-color: white;
	height: 24rem;
}



.thesis-l-column {
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
}

.thesis-l-column h1 {
	margin-top: .5rem;
	font-weight: 700;
	margin-left: 1.5rem;
}

.thesis-l-column h2 {
	margin-top: .5rem;
	margin-left: 1.5rem;
}

.thesis-l-column h3 {
	margin-left: 1.5rem;
	font-size: .75rem;
}

.thesis-r-column {
	display: flex;
	flex-direction: column;
	
}

.thesis-r-column img {
	width: 30%;
	height: 30%;
}

.thesis-box {
	display: flex;
	margin-top: 2rem
}

.thesis-box h1 {
	font-weight: 700;
}

.thesis-box h2 h3 {
	font-size: .8rem;
}

.thesis-boxcopy {
	margin-left: 1rem;
}

/****footer****/

footer {
	font-weight: 300;
}

/****responsive *******/

@media (max-width: 760px){
	
	/** navmenu **/
	.desktop-menu {
		display: none;
	}
	
	.mobile-nav-menu {
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: white;
		height: 3.56rem;
		color: black;
		width: 100%;
	}
	
	/** start here section **/
	
	.start-here-desktop {
		display: none;
	}
	
	.start-here-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: lightgray;
	}
	
	.start-here-mobile img {
		height: 10rem;
		width: 15rem;	
	}
	
	.start-here-mobile h1 {
		margin-top: 1.5rem;
		font-weight: 700;
	}
	
	.start-here-mobile h2 {
		margin-top: 1.5rem;
		text-align: center;
	}
	
	.start-button-mobile {
		margin-top: 1.5rem;
		background-color: dimgrey;
	}
	
	/** overview **/
	
	.overview-desktop {
		display: none;
	}
	
	.overview-mobile {
		display:flex;
		flex-direction: column;
		align-items: center;
	}
	
	.orientation-mobile img{
		margin-top: 1rem;
		height: 10rem;
		width: 15rem;
	}
	
	.overview-mobile h1 {
		margin-top: 1rem;
		font-weight: 700;
		font-size: 1.25rem;
	
	}
	
	.overview-mobile h3 {
		margin-top: .5rem;
		font-size: 1rem;
	}
	
	.overview-mobile h4 {
		margin-top: .5rem;
		color: blue;
		font-size: 1rem;
	}
	
	/** learning section **/
	.learning-desktop {
		display: none;
	}
	
	.learning-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2rem;
	}
	
	.l-mobile-box {
		margin-top: .5rem;
		background-color: grey;
		width: 100%;
		height: 4rem;
	}
	
	.l-mobile-box h2 {
		font-weight: 700;
		padding-top: 1.5rem;
		margin-left: 1rem;
	}
	
	.l-mobile-title h1 {
		font-size: 1.5rem;
		font-weight: 700;
	}
	
	/***thesis section***/
	
	.thesis-desktop {
		display: none;
	}
	
	.thesis-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2rem;
	}
	
	.thesis-mobile h1 {
		font-weight: 700;
	}
}
