@charset "utf-8";
/* CSS Document */
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.desktopmenu {
	display: flex;
	align-items: center;
    background-color:white;
	height: 3.56rem;
	color: black;
	width: 100%;
}

.heavytitlefont {
	color: black;
	font-weight: 700;
	font-size: 1.78rem;
}

.lighttitlefont {
	color: black;
	font-weight: 300;
	font-size: 1.78rem;
}

.navmenu {
	color: black;
	padding-left: 55%;
}

.mobilenavmenu {
	display: none;
}

@media (max-width: 480px){
	
	.desktopmenu {
		display: none;
	}
	
	.mobilenavmenu {
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: white;
		height: 3.56rem;
		color: black;
		width: 100%;
	}
	
}
